/* #region || Variables */
:root {
	--dkpurple: #561b75;
	--transparent-purple: #561b7580;
	--mdpurple: #ca95e7;
	--ltpurple: #ead5f5;
    --black: #000000;
    --white: #ffffff;
}
/* #endregion || Variables */

/* #region || Skip Link Styles */
#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
#skip:focus {
		position: static;
		width: auto;			
		height: auto;
}
/* #endregion || Skip Link Styles */

/* #region || Hidden Content Styles */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* #endregion || Hidden Content Styles */

/* #region || General Styles */
/* ------- GENERAL STYLES -------*/
html {
	box-sizing: border-box;
	background: linear-gradient(var(--dkpurple),var(--mdpurple),var(--dkpurple));
	height: 100dvh;
	background-repeat:repeat-y;
}
header {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	height: 60px;
	justify-items: center;
	align-content: space-between;
}
body {
	max-width: 1200px;
	margin: 0 auto;
	line-height: normal;
	background-color: white;
}
a {
	font-size: 24px;
	text-decoration: none;
	color: var(--dkpurple);
	font-weight: 700;
}
.active {
	color: var(--mdpurple);
}
h2 {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: var(--black);
}
main {
	margin: 50px auto;
	padding: 20px;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
/* ------- BUTTONS ------- */
.dfj-button {
	border: 0;
	line-height: 2;
	padding: 10px;
	font-size: 1em;
	text-align: center;
	color: white;
	border-radius: 15px;
	background-color: var(--dkpurple);
	box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6);
	transition: all .3s ease-in-out;
	width: fit-content;
}
.dfj-button:hover {
	background-color: var(--white);
	color: var(--dkpurple);
	outline: 2px solid var(--dkpurple);
}
.dfj-button:active {
	box-shadow:
	inset -2px -2px 3px rgb(255 255 255 / 0.6),
	inset 2px 2px 3px rgb(0 0 0 /0.6);
}
/* ------- BUTTONS END ------- */
/* ------- NAVIGATION ------- */
nav {
	display: block;
	width: 100%;
}
#mainnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* For nav checkbox */
#dropdown {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
/* ------- NAVIGATION END------- */
.person {
	padding: 10px 10px 0 10px;
	text-align: center;
	box-shadow: var(--transparent-purple) 2px 2px 8px 2px;
	border-radius: 15px;
	margin: 10px auto;
	height: fit-content;
	line-height: 1;
}
.person p:nth-child(2) {
	font-size: 1.2em;
	font-weight: 700;
}
.person p:nth-child(3) {
	font-size: 1em;
	font-weight: 400;
}
#career {
	text-align: center;
	height: 150px;
	width: 400px;
	margin: 0 auto;
	line-height: 1;
	padding-top: 10px;
}
#secondary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.summer-images {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}
/* ------- FOOTER ------- */
footer {
	line-height: 1.5em;
	text-align: center;
	font-size: 16px;
}
#flex-footer {
	display: flex;
	flex-direction: column;
}
footer a:hover {
	color: var(--mdpurple);
}
#social-media {
	margin: 0 auto;
	padding-top: 50px;
}
#social-media a {
	padding: 5px;
}
#copyright {
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	margin-top: 50px;
	color: var(--white);
	background-color: var(--mdpurple);
	padding: 10px 0;
	text-transform: uppercase;
}
/* ------- FOOTER END ------- */
/* #endregion || General Styles */
