/* ------- NAVIGATION (Mobile) ------- */
nav a {
	font-size: 18px;
}
#dropmenu ul li {
	padding: 5px;
}
/* #portal is for Sign Up and Login links, to be placed in the dropdown menu */
#dropmenu, #portal {
	display: none;
}
#dropmenu ul {
	background-color: white;
	top: 85px;
	width: 100%;
	text-align: center;
	left: 0;
	height: 100dvh;
}
#dropmenu ul li {
	padding: 30px;
}
/* Needed for #portal links whenever they are added *
#dropdown:checked ~ #dropmenu, 
#dropdown:checked ~ #portal {
	display:block;
}
*/
#dropdown:checked ~ #dropmenu {
	display:block;
}
/* /* Needed for #portal links whenever they are added *
#dropdown:checked ~ #dropmenu ul, 
#dropdown:checked ~ #portal ul {
	display: flex;
	flex-direction: column;
	position: absolute;
}
*/
#dropdown:checked ~ #dropmenu ul{
	display: flex;
	flex-direction: column;
	position: absolute;
}
#mainnav ul li {
	position: relative;
}
#mainnav > ul > li > a {
	position: relative;
	display: block;
	margin: 0 15px;
}
#mainnav ul.submenu {
	text-align: end;
	visibility:  hidden;
}
#mainnav ul li a:hover {
	color: var(--mdpurple);
}
/* THIS IS NEEDED FOR THE SUBMENUS
#mainnav ul li:hover > ul.submenu li {
	visibility: visible;
	background-color: var(--ltpurple);
}
*/
/* #region || Hamburger Menu & Animation from Mikael Ainalme ( https://codepen.io/ainalem/pen/LJYRxz?editors=1100 ) */
nav label {
	width: 115px;
	position: absolute;
	top: 0;
	right: 0;
}
.ham {
	cursor: pointer;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--dkpurple);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham .top {
  stroke-dasharray: 40 160;
}
.ham .middle {
  /*stroke-dasharray: 40 142;*/
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham.active .top {
  stroke-dashoffset: -64px; 
  stroke: var(--mdpurple);
}
.ham.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
  stroke: var(--mdpurple);
}
.ham.active .bottom {
  stroke-dashoffset: -64px;
  stroke: var(--mdpurple);
}
/* #endregion || END OF HAMBURGER MENU */

@media screen and (min-width: 768px) {
/* ------- NAVIGATION GLOBAL ------- */
nav a {
	font-size: 18px;
}
#dropmenu ul li {
	padding: 5px;
}
}