/* #region || Variables */
:root {
    --black: #000000;
    --white: #ffffff;
}
/* #endregion || Variables */

/* #region || General Styles & Typography */
html {
	box-sizing: border-box;
}
header {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	height: 50px;
	justify-items: center;
	align-content: space-between;

}
body {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	line-height: normal;
	background-color: white;
}
a {
	text-decoration: none;
	color: purple;
}
.hide {
    visibility: hidden;
	height: 0px;
	margin: 0px;
}
h2 {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: var(--black);
}
#logo {
	grid-column: 1 / span 1;
	position: relative;
	top: -30%;
}
nav {
	display: block;
	margin-left: 25px;
}
#mainnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* For nav checkbox */
#dropdown {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
/* For nav dropdown menu */
#dropmenu, #portal {
	display: none;
}
#dropmenu ul {
	background-color: white;
	top: 65px;
	width: 100%;
	text-align: center;
	left: 0;
}
#dropmenu ul li {
	padding: 15px;
	font-size: 20px;
}
#dropdown:checked ~ #dropmenu, 
#dropdown:checked ~ #portal {
	display:contents;
}
#dropdown:checked ~ #dropmenu ul, 
#dropdown:checked ~ #portal ul {
	display: flex;
	flex-direction: column;
	position: absolute;
}
#mainnav > ul > li {
	display: inline-block;
	padding: 0 6px;
}
#mainnav ul li {
	position: relative;
}
#mainnav > ul > li > a {
	position: relative;
	display: block;
	margin: 0 15px;
}
#mainnav ul.submenu {
	position: relative;
	text-align: end;
	visibility:  hidden;
}
#mainnav ul li ul li {
	margin-left: 0;
}
#mainnav ul li:hover {
	background-color: lightpink;
}
#mainnav ul li:hover > ul.submenu {
	top: 100%;
	visibility: visible;
	background-color: lightpink;
}
/* Hamburger Menu & Animation from Mikael Ainalme
https://codepen.io/ainalem/pen/LJYRxz?editors=1100 */
nav label {
	width: 115px;
	position: absolute;
	top: 0;
	right: 0;
}
.ham {
	cursor: pointer;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  /*stroke-dasharray: 40 142;*/
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px; 
}
.ham8.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
/* END OF HAMBURGER MENU */
main {
	background-color: lightgoldenrodyellow;
	margin-top: 25px;
}
/* #endregion || General Styles & Typography */

/* #region || Mobile First 600px */
@media screen and (min-width: 600px) {

}
/* #endregion || Mobile First 600px 

/* #region || Medium 768px 
@media screen and (min-width: 768px) {

}
/* #endregion || Medium 768px */

/* #region || Large 992px */
@media screen and (min-width: 992px) {
nav label {
	display: none;
}
/*
#dropdown:checked ~ #dropmenu ul, 
#dropdown:checked ~ #portal ul {
	position: static;
}
	*/

#mainnav {
	height: 50px;
}
#dropmenu {
	display: block;
	font-size: 20px;
}
#dropmenu ul {
	display: flex;
	justify-content: space-around;
	height: 50px;
	align-items: flex-start;
}
/*
#dropdown:checked ~ #dropmenu ul, 
#dropdown:checked ~ #portal ul {
	display: none;
}
	*/
#dropmenu ul li {
	float: left;
	position: relative;
	padding: 10px;
}
#submenu {
	background-color: white;
}
#dropmenu > ul > li > ul {
	flex-direction: column;
	height:max-content;
}
}
/* #endregion || Large 992px */

/* #region || Extra Large 1200px 
@media screen and (min-width: 1200px) {

}
/* #endregion || Extra Large 1200px */