/* #region || Variables */
:root {
	--dkpurple: #561b75;
	--transparent-purple: #561b7580;
	--mdpurple: #ca95e7;
	--ltpurple: #ead5f5;
    --black: #000000;
    --white: #ffffff;
}
/* #endregion || Variables */

/* #region || Skip Link Styles */
#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
#skip:focus {
		position: static;
		width: auto;			
		height: auto;
}
/* #endregion || Skip Link Styles */

/* #region || Hidden Content Styles */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* #endregion || Hidden Content Styles */

/* #region || General Styles */
/* ------- GENERAL STYLES -------*/
html {
	box-sizing: border-box;
	background: linear-gradient(var(--dkpurple),var(--mdpurple),var(--dkpurple));
	height: 100dvh;
	background-repeat:repeat-y;
	color: var(--dkpurple);
}
header {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	/*height: 60px;*/
	justify-items: center;
	align-content: space-between;
}
body {
	max-width: 1200px;
	margin: 0 auto;
	line-height: normal;
	background-color: white;
}
a {
	font-size: 24px;
	text-decoration: none;
	color: var(--dkpurple);
	font-weight: 700;
}

h2 {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: var(--black);
}
main {
	margin: 50px auto;
	padding: 20px;
}
/* ------- GENERAL CLASSES ------- */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.active {
	color: var(--mdpurple);
}
/* ------- BUTTON STYLES (General Styles) ------- */
.dfj-button {
	border: 0;
	line-height: 2;
	padding: 10px;
	font-size: 1em;
	text-align: center;
	color: white;
	border-radius: 15px;
	background-color: var(--dkpurple);
	box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6);
	transition: all .3s ease-in-out;
	width: fit-content;
}
.dfj-button:hover {
	background-color: var(--white);
	color: var(--dkpurple);
	outline: 2px solid var(--dkpurple);
}
.dfj-button:active {
	box-shadow:
	inset -2px -2px 3px rgb(255 255 255 / 0.6),
	inset 2px 2px 3px rgb(0 0 0 /0.6);
}
/* ------- BUTTON STYLES END ------- */
/* ------- NAVIGATION (General Styles) ------- */
nav {
	display: block;
	width: 100%;
}
#mainnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* For nav input checkbox */
#dropdown {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
/* ------- NAVIGATION END------- */
/* ------- HOMEPAGE (General Styles) ------- */
#secondary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* ------- HOMEPAGE END ------- */
/* ------- STUDIO (General Styles) ------- */
.person {
	padding: 10px 10px 0 10px;
	text-align: center;
	box-shadow: var(--transparent-purple) 2px 2px 8px 2px;
	border-radius: 15px;
	margin: 10px auto;
	height: fit-content;
	line-height: 1;
}
.person p:nth-child(2) {
	font-size: 1.2em;
	font-weight: 700;
}
.person p:nth-child(3) {
	font-size: 1em;
	font-weight: 400;
}
#career {
	text-align: center;
	height: 150px;
	width: 400px;
	margin: 0 auto;
	line-height: 1;
	padding-top: 10px;
}
/* ------- STUDIO END ------- */
/* ------- PROGRAMS (General Styles)------- */
.summer-images {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}
/* ------- PARTIES (General Styles) ------- */
#parties {
	background-image: url("images/events.avif");
	background-size: contain;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.party {
	padding: 15px;
	box-shadow: var(--transparent-purple) 2px 2px 8px 2px;
	background-color: #FFFFFFC0;
	color: var(--dkpurple);
	border-radius: 15px;
	margin: 10px auto;
	height: fit-content;
	line-height: 1;
	display: flex;
	flex-direction: column;
}
/* ------- FOOTER (General Styles)------- */
footer {
	line-height: 1.5em;
	text-align: center;
	background-color: var(--white);
	margin-top: 20px;
}
#flex-footer {
	display: flex;
	flex-direction: column;
}
footer a, footer address {
	color: var(--dkpurple);
	font-weight: 400;
	font-size: 16px;
}
footer a:hover {
	color: var(--mdpurple);
}
#social-media {
	margin: 0 auto;
	padding-top: 50px;
}
#social-media a {
	padding: 5px;
}
#copyright {
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	margin-top: 50px;
	color: var(--white);
	background-color: var(--mdpurple);
	padding: 10px 0;
	text-transform: uppercase;
}
/* ------- FOOTER END ------- */
/* #endregion || General Styles */

/* #region || Mobile First */
#logo {
	grid-column: 1 / span 1;
	position: relative;
	top: 0;
}
/* ------- NAVIGATION (Mobile) ------- */
/* #portal is for Sign Up and Login links, to be placed in the dropdown menu  or top of screen*/
#dropmenu, #portal {
	overflow: hidden;
	max-height: 0;
}
#dropmenu ul {
	background-color: white;
	top: 85px;
	width: 100%;
	text-align: center;
	left: 0;
	height: 100dvh;
}
#dropmenu ul li {
	padding: 30px;
}
#dropdown:checked ~ #dropmenu {
	display:block;
}
#dropdown:checked ~ #dropmenu ul {
	display: flex;
	flex-direction: column;
	position: absolute;
}
/*
#mainnav ul li {
	position: relative;
}
*/
#mainnav > ul > li > a {
	position: relative;
	display: block;
	margin: 0 15px;
}
/* THIS IS FOR SUBMENUS THAT ARE CURRENTLY HIDDEN */
#mainnav ul.submenu {
	text-align: end;
	visibility:  hidden;
}
#mainnav ul li a:hover {
	color: var(--mdpurple);
}
/* THIS IS NEEDED FOR THE SUBMENUS
#mainnav ul li:hover > ul.submenu li {
	visibility: visible;
	background-color: var(--ltpurple);
}
*/
/* #region || Hamburger Menu & Animation (Mobile) from Mikael Ainalme ( https://codepen.io/ainalem/pen/LJYRxz?editors=1100 ) */
nav label {
	width: 115px;
	position: absolute;
	top: 0;
	right: 0;
}
.ham {
	cursor: pointer;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--dkpurple);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham .top {
  stroke-dasharray: 40 160;
}
.ham .middle {
  /*stroke-dasharray: 40 142;*/
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham.active .top {
  stroke-dashoffset: -64px; 
  stroke: var(--mdpurple);
}
.ham.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
  stroke: var(--mdpurple);
}
.ham.active .bottom {
  stroke-dashoffset: -64px;
  stroke: var(--mdpurple);
}
/* #endregion || END OF HAMBURGER MENU */
/* ------- NAVIGATION (Mobile) (Cont.) ------- */
main {
	font-size: 24px;
}
main img { 
	max-width: 85vw;
	height: auto;
	border-radius: 55px;
	display: block;
	margin: 0 auto;
}
.intro {
	margin: 0 auto;
}
/* ------- INSTRUCTOR GALLERY (Mobile) ------- */
#int-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#int-gallery .person img {
	max-width: 65vw;
}
#int-gallery .person img:hover {
	/*scale: 115%;*/
	transition: scale .3s ease-in-out;
}
/* ------- INSTRUCTOR GALLERY END (Mobile) ------- */
/* ------- FOOTER (Mobile) ------- */
footer {
	font-size: 24px;
}
#contact {
	display: flex;
	flex-direction: column;
}
/* #endregion || Mobile First */

/* #region || Medium 768px */
@media screen and (min-width: 768px) {
/* ------- NAVIGATION 768px ------- */
#signupnav {
	position: fixed;
	top: -6px;
	left: 50%;
	transform: translateX(-50%);
	max-height: 100%;
	z-index: 9999;
	background-color: var(--white);
}
/* ------- PAGES 768px ------- */
main img { 
	max-width: 75vw;
	height: auto;
}
/* ------- STUDIO 768px ------- */
#int-gallery {
	display: flex;
	flex-direction: row;
	max-width: 900px;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
	margin: 0 auto;
}
#int-gallery .person img {
	width: auto;
	max-height: 300px;
}
/* ------- PROGRAMS 768px ------- */
.summer-images {
	display: flex;
	flex-direction: row;
	gap: 20px;
	flex-grow: 1;
	max-width: 100%;
}
.summer-images img {
	flex: 1;
	min-width: 0;
	height: auto;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}
/* ------- FOOTER 768px ------- */
#flex-footer {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
#flex-footer section {
	margin: 0 auto;
	display: flex;
}
#connect {
	flex-direction: column;
	align-items: center;
}
#contact {
	flex-direction: column;
	align-items: end;
}
footer {
	font-size: 18px;
}
}
/* #endregion || Medium 768px */

/* #region || Large 992px */
@media screen and (min-width: 992px) {
/* ------- Classes 992px ------- */
.center {
	gap: 100px;
}
/* ------- NAVIGATION 992px ------- */
nav label {
	display: none;
}
nav a {
	font-size: 18px;
}
#mainnav {
	height: 50px;
}
#dropmenu {
	overflow: visible;
	max-height: 100dvh;
	justify-content: space-evenly;
}
#dropmenu ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	height: fit-content;
	/*top: 0;*/
	/*gap: 20px;*/
}
#dropmenu ul li:not(:last-child) {
	position: relative;
	font-size: 16px;
	text-align: center;
	padding: 0;
}
#dropmenu > ul > li > ul {
	flex-direction: column;
	height:max-content;
	width: 100%;
	padding-top: 10px;
}
#signupnav {
	position: absolute;
	top: 50px;
	right: 20px;
	transform: none;
	max-height: 100%;
	z-index: 9999;
	background-color: transparent;
}
/* ------- 992px Styles ------- */
main {
	font-size: 18px;
}
main img { 
	max-width: 900px;
	height: auto;
}
.person {
	height: 395px;
}
}
/* #endregion || Large 992px */

/* #region || Extra Large 1200px 
@media screen and (min-width: 1200px) {

}
/* #endregion || Extra Large 1200px */