/* #region || Variables */
:root {
	--dkpurple: #561b75;
	--mdpurple: #ca95e7;
	--ltpurple: #ead5f5;
    --black: #000000;
    --white: #ffffff;
}
/* #endregion || Variables */

/* #region || Skip Link Styles */
#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
#skip:focus {
		position: static;
		width: auto;			
		height: auto;
}
/* #endregion || Skip Link Styles */

/* #region || Hidden Content Styles */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* #endregion || Hidden Content Styles */

/* #region || General Styles */
/* ------- GENERAL STYLES -------*/
html {
	box-sizing: border-box;
	background-color: var(--dkpurple);
	height: 100%;
}
header {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	height: 60px;
	justify-items: center;
	align-content: space-between;
}
body {
	max-width: 1200px;
	margin: 0 auto;
	line-height: normal;
	background-color: white;
}
a {
	font-size: 24px;
	text-decoration: none;
	color: var(--dkpurple);
	font-weight: 700;
}
.active {
	color: var(--mdpurple);
	text-transform: uppercase;
}
h2 {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: var(--black);
}
main {
	margin: 50px auto;
	padding: 20px;
}
/* ------- BUTTONS ------- */
.dfj-button {
	border: 0;
	line-height: 2;
	padding: 10px;
	font-size: 1em;
	text-align: center;
	color: white;
	border-radius: 15px;
	background-color: var(--dkpurple);
	box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6);
	transition: all .3s ease-in-out;
	width: fit-content;
}
.dfj-button:hover {
	background-color: var(--white);
	color: var(--dkpurple);
	outline: 2px solid var(--dkpurple);
}
.dfj-button:active {
	box-shadow:
	inset -2px -2px 3px rgb(255 255 255 / 0.6),
	inset 2px 2px 3px rgb(0 0 0 /0.6);
}
/* ------- BUTTONS END ------- */
/* ------- NAVIGATION ------- */
nav {
	display: block;
	width: 100%;
}
#mainnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* For nav checkbox */
#dropdown {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
/* ------- NAVIGATION END------- */
/* ------- FOOTER ------- */
footer {
	line-height: 1.5em;
	text-align: center;
}
#flex-footer {
	display: flex;
	flex-direction: column;
}
footer a:hover {
	color: var(--mdpurple);
}
#social-media {
	margin: 0 auto;
	padding-top: 50px;
}
#social-media a {
	padding: 5px;
}
#copyright {
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	margin-top: 50px;
	color: var(--white);
	background-color: var(--mdpurple);
	padding: 10px 0;
	text-transform: uppercase;
}
/* ------- FOOTER END ------- */
/* #endregion || General Styles */

/* #region || Mobile First */
#logo {
	grid-column: 1 / span 1;
	position: relative;
	top: 0;
}
/* ------- NAVIGATION (Mobile) ------- */
/* #portal is for Sign Up and Login links, to be placed in the dropdown menu */
#dropmenu, #portal {
	display: none;
}
#dropmenu ul {
	background-color: white;
	top: 85px;
	width: 100%;
	text-align: center;
	left: 0;
	height: 100dvh;
}
#dropmenu ul li {
	padding: 30px;
}
/* Needed for #portal links whenever they are added *
#dropdown:checked ~ #dropmenu, 
#dropdown:checked ~ #portal {
	display:block;
}
*/
#dropdown:checked ~ #dropmenu {
	display:block;
}
/* /* Needed for #portal links whenever they are added *
#dropdown:checked ~ #dropmenu ul, 
#dropdown:checked ~ #portal ul {
	display: flex;
	flex-direction: column;
	position: absolute;
}
*/
#dropdown:checked ~ #dropmenu ul{
	display: flex;
	flex-direction: column;
	position: absolute;
}
#mainnav ul li {
	position: relative;
}
#mainnav > ul > li > a {
	position: relative;
	display: block;
	margin: 0 15px;
}
#mainnav ul.submenu {
	text-align: end;
	visibility:  hidden;
}
#mainnav ul li a:hover {
	color: var(--mdpurple);
}
/* THIS IS NEEDED FOR THE SUBMENUS
#mainnav ul li:hover > ul.submenu li {
	visibility: visible;
	background-color: var(--ltpurple);
}
*/
/* #region || Hamburger Menu & Animation from Mikael Ainalme ( https://codepen.io/ainalem/pen/LJYRxz?editors=1100 ) */
nav label {
	width: 115px;
	position: absolute;
	top: 0;
	right: 0;
}
.ham {
	cursor: pointer;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--dkpurple);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham .top {
  stroke-dasharray: 40 160;
}
.ham .middle {
  /*stroke-dasharray: 40 142;*/
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham.active .top {
  stroke-dashoffset: -64px; 
  stroke: var(--mdpurple);
}
.ham.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
  stroke: var(--mdpurple);
}
.ham.active .bottom {
  stroke-dashoffset: -64px;
  stroke: var(--mdpurple);
}
/* #endregion || END OF HAMBURGER MENU */
/* ------- NAVIGATION (Mobile) (Cont.) ------- */
main img { 
	max-width: 85vw;
	height: auto;
	border-radius: 55px;
	display: block;
	margin: 0 auto;
}
.intro {
	margin: 0 auto;
}
footer {
	font-size: 24px;
}
#contact {
	display: flex;
	flex-direction: column;
}
/* #endregion || Mobile First */

/* #region || Medium 768px */
@media screen and (min-width: 768px) {
nav a {
	font-size: 18px;
}
#dropmenu ul li {
	padding: 5px;
}
#flex-footer {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
#flex-footer section {
	margin: 0 auto;
	display: flex;
}
#connect {
	flex-direction: column;
	align-items: center;
}
#contact {
	flex-direction: column;
	align-items: end;
}
main img { 
	max-width: 75vw;
	height: auto;
}
}
/* #endregion || Medium 768px */

/* #region || Large 992px */
@media screen and (min-width: 992px) {
nav label {
	display: none;
}
#mainnav {
	height: 50px;
}
#dropmenu {
	display: block;
}
#dropmenu ul {
	display: flex;
	justify-content: space-around;
	height: 50px;
	top: 0;
}
#dropmenu ul li {
	position: relative;
	font-size: 16px;
	text-align: center;
}
#dropmenu > ul > li > ul {
	flex-direction: column;
	height:max-content;
	width: 100%;
	padding-top: 10px;
}
main img { 
	max-width: 1000px;
	height: auto;
}
}
/* #endregion || Large 992px */

/* #region || Extra Large 1200px 
@media screen and (min-width: 1200px) {

}
/* #endregion || Extra Large 1200px */